@page "/"

<PageTitle>SymbolicComputation.com</PageTitle>

<div class="container">
    <div class="main-image">
        <img src="images/sym1.jpg" alt="Peace" />
    </div>

    <div class="article-name">
        Sym
    </div>
    <article>
        Sym is a symbolic computation app.<br />
        <NavLink href="sym" Match="NavLinkMatch.All">Use Sym online for free.</NavLink><br />
        <a href="https://github.com/Wowo51/Sym">The Sym source code on Github.</a><br />
    </article>

    <div class="article-name">
        Raven
    </div>
    <article>
        10x coder = 1/10 cost.<br />
        Get an estimate. Raven's developer: <a href="https://TranscendAI.tech">TranscendAI.tech</a><br />
    </article>

    <footer>
        &copy; SymbolicComputation.com<br>
    </footer>
    <br />
</div>